<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.docker.com.dockerContainer.DockerTest3"/>
      <class name="com.docker.com.dockerContainer.DockerTest2"/>
      <class name="com.docker.com.dockerContainer.DockerTest1"/>
      <class name="com.docker.com.dockerContainer.dockerTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
